fieldset a {
    float: right;
    margin-right: 1.5rem;
    margin-left: 1rem;
    margin-top: 1rem;
}

#triggerbutton {
    margin-left: 2rem;
    margin-bottom: 2rem;
}

#readmore {
    margin-top: -.1rem
}

.btn-outline-primary.disabled, .btn-outline-primary:disabled {
    border-width: 0px;
}

.required label {
    color: red;
}

.required label::after {
    content: "*";
}