{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <title>{% block title %}Social Network{% endblock %}</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" />
        <link href="{% static 'recipesite/styles.css' %}" rel="stylesheet">
        <meta name="description" content="Structure your Flask apps in a scalable and intelligent way using Blueprints."/>
        <meta name="HandheldFriendly" content="True"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover"/>
        <meta name="description" content="" />
    </head>
    <body>

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">Network</a>
          
            <div>
              <ul class="navbar-nav mr-auto">
                {% comment %} {% if user.is_authenticated %}
                    <li class="nav-item">
                        
                        <a class="nav-link" href="{% url 'user_detail' pk=user.id %}"><strong>{{ user.username }}</strong></a>
                    </li>
                {% endif %} {% endcomment %}
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'index' %}">All Recipes</a>
                </li>
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'recipe-add' %}">New Recipe</a>
                    </li>
                    {% comment %} <li class="nav-item">
                        <a class="nav-link" href="{% url 'bookmarks' %}">Bookmarks</a>
                    </li> {% endcomment %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">Log In</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'register' %}">Register</a>
                    </li>
                {% endif %}
              </ul>
            </div>
          </nav>
        
        <div class="body">
            {% block body %}
            {% endblock %}
        </div>

        {% block script %}
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.js" crossorigin="anonymous" async></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="{% static "django-dynamic-formset/src/jquery.formset.js" %}"></script>
        <script type="text/javascript">
            $(function() {
                $(".inline.{{ formset.prefix }}").formset({
                    prefix: "{{ formset.prefix }}", // The form prefix for your django formset
                    addCssClass: "btn btn-block btn-primary bordered inline-form-add", // CSS class applied to the add link
                    deleteCssClass: "btn btn-block btn-primary bordered", // CSS class applied to the delete link
                    addText: 'Add another question', // Text for the add link
                    deleteText: 'Remove question above', // Text for the delete link
                    formCssClass: 'inline-form' // CSS class applied to each form in a formset
                })
            });
        </script>
        <script src="{% static 'recipesite/index.js' %}" defer></script>
        {% endblock %}
    </body>
</html>