{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}Social Network{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="{% static 'recipesite/styles.css' %}" rel="stylesheet">
    </head>
    <body>

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">Network</a>
          
            <div>
              <ul class="navbar-nav mr-auto">
                {% comment %} {% if user.is_authenticated %}
                    <li class="nav-item">
                        
                        <a class="nav-link" href="{% url 'user_detail' pk=user.id %}"><strong>{{ user.username }}</strong></a>
                    </li>
                {% endif %} {% endcomment %}
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'index' %}">All Recipes</a>
                </li>
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'recipe-add' %}">New Recipe</a>
                    </li>
                    {% comment %} <li class="nav-item">
                        <a class="nav-link" href="{% url 'bookmarks' %}">Bookmarks</a>
                    </li> {% endcomment %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">Log In</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'register' %}">Register</a>
                    </li>
                {% endif %}
              </ul>
            </div>
          </nav>
        
        <div class="body">
            {% block body %}
            {% endblock %}
        </div>

        {% block script %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="{% static "django-dynamic-formset/src/jquery.formset.js" %}"></script>
        <script type="text/javascript">
            $(function() {
                $(".inline.{{ formset.prefix }}").formset({
                    prefix: "{{ formset.prefix }}", // The form prefix for your django formset
                    addCssClass: "btn btn-block btn-primary bordered inline-form-add", // CSS class applied to the add link
                    deleteCssClass: "btn btn-block btn-primary bordered", // CSS class applied to the delete link
                    addText: 'Add another question', // Text for the add link
                    deleteText: 'Remove question above', // Text for the delete link
                    formCssClass: 'inline-form' // CSS class applied to each form in a formset
                })
            });
        </script>
        <script src="{% static 'index.js' %}" defer></script>
        {% endblock %}
    </body>
</html>