{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <title>{% block title %}Social Network{% endblock %}</title>
        {# Load the tag library #}
        {% load bootstrap5 %}
        {# Load CSS and JavaScript #}
        {% bootstrap_css %}
        {% bootstrap_javascript %}
        {# Display django.contrib.messages as Bootstrap alerts #}
        {% bootstrap_messages %}
        <link href="{% static 'recipesite/styles.css' %}" rel="stylesheet">
        <meta name="description" content="Structure your Flask apps in a scalable and intelligent way using Blueprints."/>
        <meta name="HandheldFriendly" content="True"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover"/>
        <meta name="description" content="" />
        <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.1/dist/js.cookie.min.js"></script>
        <script src="{% static 'static_jquery/js/jquery.js' %}"></script>
        <script src="{% static 'recipesite/js/jquery.formset.js' %}"></script> 
    </head>
    <body>

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="name navbar-brand" href="{% url 'index' %}">Recipe Keeper</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'index' %}">Home</a>
                    </li>
                {% comment %} {% if user.is_authenticated %}
                    <li class="nav-item">
                        
                        <a class="nav-link" href="{% url 'user_detail' pk=user.id %}"><strong>{{ user.username }}</strong></a>
                    </li>
                {% endif %} {% endcomment %}
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'user_detail' pk=user.id %}">My Recipes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'bookmarks' %}">My Bookmarks</a>
                    </li>                    
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'recipeadd' %}">New Recipe</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">Log In</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'register' %}">Register</a>
                    </li>
                {% endif %}
            </ul>
            {% if user.is_authenticated %}
                <div class="welcome nav-link">Welcome back, <a href="{% url 'user_detail' pk=user.id %}">{{ user.username }}</a>!</div>
            {% endif %}
            <form class="d-flex" method="GET" action="{% url 'recipesearch' %}" id="searchbar">
                <input class="form-control mr-sm-2" type="search" name="search">
                <button class="btn btn btn-outline-info my-2 my-sm-0" type="submit"> Search </button>
            </form>
          </div>
        </div>
      </nav>
        
        <div class="body">
            {% block body %}
            {% endblock %}
        </div>

        {% block script %}
        <script src="{% static 'recipesite/index.js' %}" defer></script>
        {% endblock %}
    </body>
</html>